Options +FollowSymLinks
RewriteEngine on

RewriteBase /hs/

# RewriteCond $1 !(template)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?path=$1 [L]